{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> VISITOR ENTRY </title>
    <style>
        body {
            background: url('{% static "pages/images/image6.jpeg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
        <script >
            function validateform()
                    {
                        var y = document.vform.vname.value;
                        var z = document.vform.vphone.value;
                        if(y==""||z==""||document.vform.vemail.value=="")
                        {
                            alert("All the fields are mandatory");
                            document.vform.vname.focus();
                            return false;
                        }
                        if(!isNaN(y))
                        {
                            alert("Please enter a valid name without any digits");
                            document.vform.vname.focus();
                            return false;

                        }
                        if(isNaN(z))
                        {
                            alert("Please enter a valid phone number");
                            document.vform.vphone.focus();
                            return false;
                        }
                        if(z.length!=10)
                        {
                            alert("Please enter a 10 digit number");
                            document.vform.vphone.focus();
                            return false;
                         }
                    }
      </script>
</head>
<body id="overlay" >
<div class="container">
    <div class="row">
        <div class="text-center" style="margin-top:5%;color: brown">
                            <h1 style="font-family:courier;"> <b>  VISITOR &nbsp; &nbsp;  MANAGEMENT  &nbsp; &nbsp; SYSTEM  </h1>
                <br>
            <style>
             a:link, a:visited
             {
                background-color: grey;
                color: black;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                box-shadow: 10px 10px green;
              }
            </style>
                <a href="http://127.0.0.1:8000/"> <B> HOME </B> </a>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="http://127.0.0.1:8000/hform"> HOST LOGIN </a>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="http://127.0.0.1:8000/oform"> VISITOR CHECKOUT </a>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="http://127.0.0.1:8000/eform"> HOST LOGOUT</a>
            <br> <br>
            <h1> <b> <u> Visitor Checkin Here </u>  </h1>
            <br>
            {% if con == 0 or con <= cont %}
                  <h3>Sorry, you can not check-in right now as your Host is not present.<br>Please wait for few minutes.</h3>
            {% else %}
            <form action="{% url 'vform' %}" method="post" name="vform" onsubmit="return validateform()" autocomplete="off" >
                {% csrf_token %}
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">NAME:</label>
                    <div class="col-5">
                        <input  class="form-control" type="text" name="vname" maxlength="26">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">EMAIL:</label>
                    <div class="col-5">
                        <input class="form-control" type="email" id="example-email-input" name="vemail">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Phone +91:</label>
                    <div class="col-5">
                        <input class="form-control" type="text" name="vphone" maxlength="10">
                    </div>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary float-right"> Let Me In </button>
                </div>
            {% endif %}
            </form>
        </div>
    </div>
</div>

</body>
</html>